# Directories
bin/
build/*
doc/_build/*
*/.ropeproject/

# Picture formats
*.jpg
*.png
*.tiff

# C/C++
*.c~
*.cpp~
*.h~
*.hpp~
*.swp
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.elf
*.exe

# Python
*.py[cod]
*.py~

# exclusive
!sloth/sloth/gui/icons/*
!sloth/doc/_static/*

